[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
rich = "*"
python-dotenv = "*"
appdirs = "*"

[dev-packages]
pipreqs = "*"
pyinstaller = "*"

[requires]
python_version = "3"
