[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
rich = "*"
python-dotenv = "*"

[dev-packages]
pipreqs = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
